body {
  font-family: "Poppins", sans-serif;
  text-align: center;
  background-color: powderblue;
}

img {
  width: 350px;
  height: 350px;
  object-fit: contain;
}

h1 {
  font-size: 40px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.div1{
  border: 3px ;
  border-style:solid;
  border-color:pink;
  flex: 25%;

}
.div1:hover
{
  background-color:moccasin;
}
